.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    min-height: 53.4vh;
    width: auto;
    flex-wrap: wrap;
}

.section .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ff0000 ;
    border-radius: 10px;
    width: 13vw;
    height: 25vw;
}

.section .card .poster {
    height: 60%;
    width: 85%;
    border-radius: 5px;
    margin-top: 2%;
}

.section .card .title {
    display: flex;
    font-size: 1.1vw;
    height: 4vw;
    width: 11vw;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section .card .buttons {
    display: flex;
    width: 11vw;
    height: 2vw;
    gap: 45%;
    justify-content: center;
    margin-bottom: 2%;
}

.section .card .buttons .details {
    width: 17%;
    height: 85%;
    cursor: pointer;
}

.section .card .buttons .remove {
    width: 17%;
    height: 85%;
    cursor: pointer;
}

.section .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 54.2vh;
    font-size: 3vh;
}

@media screen and (min-device-width: 680px) and (max-device-width: 899px) {
    
    .section {
        min-height: 53.6vh;
    }
    
    .section .card {
        width: 20vw;
        height: 38vw;
    }
    
    .section .card .title {
        font-size: 1.6vw;
        width: 18vw;
    }
    
    .section .card .buttons {
        width: 17vw;
        height: 3vw;
        margin-bottom: 1%;
    }
    
    .section .card .buttons .details {
        width: 16%;
    }
    
    .section .card .buttons .remove {
        width: 16%;
    }
    
    .section .notFound {
        height: 54.2vh;
        font-size: 3vw;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 679px) {

    .section {
        align-items: start;
        min-height: 72vh;
        padding-top: 3%;
    }

    .section .card {
        width: 31vw;
        height: 59vw;
    }
    
    .section .card .title {
        font-size: 2.5vw;
        width: 28vw;
    }
    
    .section .card .buttons {
        width: 28vw;
        height: 5.5vw;
        margin-bottom: 1%;
    }
    
    .section .card .buttons .details {
        width: 19%;
        height: 100%;
    }
    
    .section .card .buttons .remove {
        width: 20%;
        height: 100%;
    }
    
    .section .notFound {
        height: 71.5vh;
        font-size: 3.6vw;
    }
}

@media screen and (max-device-width: 319px) {
    
    .section {
        min-height: 80vh;
    }

    .section .card {
        width: 50vw;
        height: 90vw;
    }
    
    .section .card .title {
        font-size: 4vw;
        width: 40vw;
        height: 15vw;
    }
    
    .section .card .buttons {
        width: 45vw;
        height: 8vw;
        margin-bottom: 1%;
    }
    
    .section .card .buttons .details {
        width: 19%;
        height: 100%;
    }
    
    .section .card .buttons .remove {
        width: 19%;
        height: 100%;
    }
    
    .section .notFound {
        height: 78vh;
        font-size: 4vw;
    }
}

