.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1vw;
    background-color: #000000;
    height: max-content;
}

.container .buttonTop {
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 40px;
    z-index: 1;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333333;
    background-color: #ff0000 ;
    cursor: pointer;
}

.container .section {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 20%;
    height: 30vw;
    border-radius: 14px;
    border: 2px solid #ff0000;
    margin: 1%;
    cursor: pointer;
}

.container .section .typeFilm {
    font-size: 1vw;
    background-color: #ff0000;
    border-radius: 10%;
    padding: 0% 2.5% 0.5% 2%;
    margin-bottom: 4%;
}

.container .section .typeSerie {
    font-size: 1vw;
    background-color: #0000ff;
    border-radius: 10%;
    padding: 0% 2.5% 0.5% 2%;
    margin-bottom: 4%;
}

.container .section .typeCurta {
    font-size: 1vw;
    background-color: #00ad43;
    border-radius: 10%;
    padding: 0% 2.5% 0.5% 2%;
    margin-bottom: 4%;
}

.container .section .poster {
    height: 70%;
    width: 80%;
    margin: 0% 8% 10% 8%;
    border-radius: 10px;
}

.container .section .title {
    display: flex;
    font-size: 1.5vw;
    height: 5vh;
    width: 16vw;
    margin-bottom: 4%;
    align-items: center;
    justify-content: center;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 34.5vh;
    font-size: 3vh;
}

@media screen and (min-device-width: 680px) and (max-device-width: 899px) {
    
    .container .section {
        width: 30%;
        height: 45vw;
    }
    
    .container .section .typeFilm,
    .container .section .typeSerie,
    .container .section .typeCurta {
        font-size: 1.5vw;
    }

    .container .section .poster {
        height: 75%;
        margin: 0% 8% 5% 8%;
    }
    
    .container .section .title {
        font-size: 2vw;
        height: 5.5vh;
        width: 25vw;
        margin-bottom: 2%;
    }
    
    .notFound {
        height: 15vh;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 679px) {
    
    .container {
        min-height: 50vh;
        gap: 2vw;
    }
    
    .container .section {
        width: 44%;
        height: 70vw;
    }
    
    .container .section .typeFilm,
    .container .section .typeSerie,
    .container .section .typeCurta {
        font-size: 2vw;
    }
    
    .container .section .poster {
        height: 72%;
        margin: 0% 8% 4% 8%;
    }
    
    .container .section .title {
        font-size: 3vw;
        width: 30vw;
        margin-bottom: 1%;
    }
    
    .notFound {
        height: 43vh;
    }
}

@media screen and (max-device-width: 319px) {
    .container {
        min-height: 50vh;
        gap: 2vw;
    }
    
    .container .section {
        width: 70%;
        height: max-content;
    }
    
    .container .section .typeFilm,
    .container .section .typeSerie,
    .container .section .typeCurta {
        font-size: 4vw;
        margin-top: 1vh;
    }
    
    .container .section .poster {
        height: 75%;
        margin: 0% 8% 8% 8%;
    }
    
    .container .section .title {
        font-size: 5vw;
        width: 60vw;
        height: 10vw;
        margin-bottom: 5%;
    }
    
    .notFound {
        height: 70vh;
    }
}