.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding-bottom: 1.5%;
}

.header .imageMarvel {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .inputContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 30%;
}

.header .inputContainer .name {
    display: block;
    position: relative;
    bottom: -10px;
    width: fit-content;
    padding: 0px 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2vw;
}

.header .inputContainer input {
    border: 2px solid #ff0000;
    height: 10%;
    width: 100%;
    padding: 4% 3%;
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    border-radius: 7px;
    font-size: 1.4vw;
    text-align: center;
}

.header .ordinationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

.header .ordinationContainer .ordem {
    text-align: center;
    color: #ffffff;
    width: 40%;
    font-size: 1.2vw;
}

.header .ordinationContainer .ordem p {
    margin-bottom: 0.8%;
}

.header .ordinationContainer .ordem select {
    width: 40%;
    color: #ffffff;
    background-color: #000000;
    padding: 6px 4px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1.2vw;
}

.header .ordinationContainer .ordem select option {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .typesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    width: 100%;
}

.header .typesContainer .types p {
    margin-bottom: 1%;
}

.header .typesContainer .types {
    color: #ffffff;
    width: 25%;
    font-size: 1.2vw;
}

.header .typesContainer .types select {
    width: 40%;
    color: #ffffff;
    background-color: #000000;
    padding: 6px 4px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1.2vw;
}

.header .typesContainer .types select option {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header .favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    width: 8vw;
    font-size: 1.3vw;
    padding: 0.4%;
    border-radius: 6px;
    color: #ffffff;
    margin: 1.2%;
}

.header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%
}

.header .links .linkFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 2.4vw;
    font-size: 1.1vw;
    background-color: #ff0000;
    padding-bottom: 0.5%;
    border-radius: 5px;
    color: #ffffff;
}

.header .links .linkHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 2.4vw;
    font-size: 1.1vw;
    background-color: #0000ff;
    padding-bottom: 0.5%;
    border-radius: 5px;
    color: #ffffff;
    margin: 1.2%;
}


@media screen and (min-device-width: 680px) and (max-device-width: 899px) {

    .header .inputContainer {
        width: 100%;
    }

    .header .inputContainer .name {
        left: -3px;
        font-size: 2.2vw;
    }

    .header .inputContainer input {
        width: 50%;
        padding: 2%;
        font-size: 2vw;
    }

    .header .ordinationContainer {
        margin-top: 2%;
        margin-bottom: 0%;
        height: 15vh;
    }

    .header .ordinationContainer .ordem {
        margin-bottom: 2%;
        width: 53.5%;
        margin-right: 1.5%;
    }

    .header .ordinationContainer .ordem p {
        margin-bottom: 1%;
        margin-left: 1%;
        font-size: 2vw;
    }

    .header .ordinationContainer .ordem select {
        width: 92%;
        font-size: 2vw;
        padding: 3%;
        margin-bottom: 2%;
        text-align: center;
    }
    
    .header .typesContainer .types {
        font-size: 2vw;
    }

    .header .typesContainer .types p {
        margin-bottom: 1.3%;
    }
    
    .header .typesContainer .types select {
        width: 80%;
        font-size: 2vw;
    }

    .header .favorite {
        width: 11vw;
        font-size: 2.3vw;
        padding: 0.8%;
        margin-top: 2%;
    }
    
    .header .links .linkFavorite {
        width: 14vw;
        height: 3.3vw;
        font-size: 2.3vw;
        padding-bottom: 1%;
    }
    
    .header .links .linkHomePage {
        width: 17vw;
        height: 3.3vw;
        font-size: 2.1vw;
        padding-bottom: 1%;
        margin: 0%;
    }
}

@media screen and (max-device-width: 679px) {

    .header .inputContainer {
        width: 100%;
    }

    .header .inputContainer .name {
        font-size: 4vw;
    }

    .header .inputContainer input {
        width: 53%;
        padding: 3%;
        font-size: 4vw;
    }

    .header .ordinationContainer {
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .header .ordinationContainer .ordem {
        margin-bottom: 2%;
        font-size: 4vw;
        width: 59.1%;
        margin-right: 2%;
    }

    .header .ordinationContainer .ordem p {
        margin-bottom: 2%;
        margin-left: 1%;
    }

    .header .ordinationContainer .ordem select {
        width: 90%;
        height: 50%;
        font-size: 4vw;
        padding: 3%;
        margin-bottom: 2%;
        text-align: center;
    }

    .header .typesContainer .types {
        font-size: 4vw;
        width: 55%;
    }

    .header .typesContainer .types p {
        margin-bottom: 1.3%;
        width: 100%;
    }
    
    .header .typesContainer .types select {
        width: 80%;
        font-size: 4vw;
    }

    .header .favorite {
        width: 20vw;
        font-size: 4vw;
        padding: 0.8%;
        margin-top: 3%;
    }
    
    .header .links .linkFavorite {
        width: 20vw;
        height: 6vw;
        font-size: 3.5vw;
        padding-bottom: 1.5%;
        border-radius: 3px;
    }
    
    .header .links .linkHomePage {
        width: 25vw;
        height: 6vw;
        font-size: 3.5vw;
        padding-bottom: 0.5%;
        margin: 0%;
        border-radius: 3px;
    }
}