.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: auto;
}

.section .article {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    width: 80vw;
}

.section .article .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section .article .container .poster {
    height: 50%;
    width: 20%;
    margin: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.section .article .container .information {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 40%;
    margin-bottom: 10px;
}

.section .article .container .information .titleContainer {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.5vw;
    font-weight: bold;
}

.section .article .container .information .titleContainer .title {
    width: 90%;
}

.section .article .container .information .titleContainer .favorite {
    width: 8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 4vw;
}

.section .article .container .information .titleContainer .favorite .favoriteImg {
    width: 3vw;
}

.section .article .container .information .generoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    gap: 1.7%;
}

.section .article .container .information .generoContainer .type {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    background-color: #111111;
    padding: 5px;
    border-radius: 8px;
    justify-content: center;
    width: 5.2%;
    color: #ffffff;
}

.section .article .container .information .generoContainer .genero {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    background-color: #111111;
    padding: 5px;
    border-radius: 8px;
    color: #ffffff;
}

.section .article .container .information .subTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 1%;
    width: 94%;
    height: 20%;
}

.section .article .container .information .subTitleContainer .IMDB {
    display: flex;
    height: 45%;
    width: 4.8%;
    align-items: center;
    justify-content: center;
}

.section .article .container .information .subTitleContainer .IMDB .imgIMDB {
    display: flex;
    position: absolute;
    width: 2.9%;
    margin-left: 0.5%;
}

.section .article .container .information .subTitleContainer .IMDB .notaIMDB {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #000000;
    margin-top: 1.7em;
    height: 1.8em;
    width: 2em;
    margin-left: 19%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
}

.section .article .container .information .subTitleContainer .releaseDateOf,
.section .article .container .information .subTitleContainer .durationContainer,
.section .article .container .information .subTitleContainer .boxOfficeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 90%;
    width: 28%;
    background-color: #111111;
}

.section .article .container .information .subTitleContainer .releaseDateOf .subTitle,
.section .article .container .information .subTitleContainer .durationContainer .subTitle,
.section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #f5c518;
    margin: 5px 5px 2px 5px;
    font-size: 1vw;
    width: 90%;
}

.section .article .container .information .subTitleContainer .releaseDateOf .subTitle .imgSubtitle,
.section .article .container .information .subTitleContainer .durationContainer .subTitle .imgSubtitle,
.section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle .imgSubtitle {
    height: 90%;
    width: 12%;
}

.section .article .container .information .subTitleContainer .releaseDateOf .date,
.section .article .container .information .subTitleContainer .durationContainer .duration,
.section .article .container .information .subTitleContainer .boxOfficeContainer .boxOffice {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin: 0px 5px 5px 5px;
}

.section .article .container .information .sinopseContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #111111;
    border-radius: 8px;
    width: 92%;
    padding-right: 1%;
}

.section .article .container .information .sinopseContainer .subTitleSinopse {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #f5c518;
    margin: 5px 0px 5px 10px;
    font-size: 1vw;
}

.section .article .container .information .sinopseContainer .sinopse {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}

.section .article .container .information .watch {
    display: flex;
    align-items: center;
    gap: 8%;
    padding-top: 0.5px;
    width: 30%;
    background-color: #111111;
    border: 1px solid #000000;
    border-radius: 8px;
    color: #f5c518;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

.section .article .container .information .watch :hover {
    background-color: #202020;
    border-radius: 8px;
}

.section .article .container .information .watch .imgWatch {
    display: flex;
    gap: 8%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section .article .container .information .watch .imgWatch .imgDisney {
    width: 4.1em;
    height: 2.7em;
    border-radius: 10px;
    padding: 1%;
}

.section .article .container .information .watch .imgWatch .imgAmazon {
    width: 2.5em;
    height: 2.5em;
    border-radius: 10px;
    padding: 0.5%;
}

.section .article .container .information .watch .imgWatch .imgNetflix {
    width: 3em;
    height: 2.5em;
    border-radius: 10px;
    padding: 1%;
}

.section .article .container .information .watch .imgWatch .imgHBO {
    width: 2.5em;
    height: 2.5em;
    border-radius: 10px;
    padding: 1%;
}

.section .article .trailer {
    width: 54vw;
    margin: 1% 0 3% 17%;
}

@media screen and (min-device-width: 900px) and (max-device-width: 1200px) {

    .section .article {
        width: 800px;
        height: 80%;
    }

    .section .article .container {
        height: 100%;
    }

    .section .article .container .poster {
        height: 400px;
        width: 17em;
        margin: 25px 0px 25px 30px;
        border-radius: 20px;
    }

    .section .article .container .information {
        width: 63%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .titleContainer {
        justify-content: center;
        width: 460px;
        height: 5rem;
        font-size: 28px;
        text-align: center;
        margin-top: 3%;
    }

    .section .article .container .information .titleContainer .title {
        width: 100%;
        margin-left: 14%;
        margin-bottom: 2%;
    }

    .section .article .container .information .titleContainer .favorite {
        width: 17%;
        justify-content: flex-end;
        margin-right: 0vw;
    }
    
    .section .article .container .information .titleContainer .favorite .favoriteImg {
        width: 3rem;
    }

    .section .article .container .information .generoContainer {
        margin-bottom: 15px;
        gap: 6%;
        width: 310px;
        justify-content: center;
    }

    .section .article .container .information .generoContainer .type {
        font-size: 0.8em;
        padding: 5px 22px;
    }

    .section .article .container .information .generoContainer .genero {
        font-size: 0.8em;
    }

    .section .article .container .information .subTitleContainer {
        flex-direction: column;
        gap: 10%;
        margin-bottom: 10px;
        width: 80%;
    }

    .section .article .container .information .subTitleContainer .IMDB {
        margin-bottom: 2%;
    }

    .section .article .container .information .subTitleContainer .IMDB .imgIMDB {
        width: 3%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .subTitleContainer .IMDB .notaIMDB {
        margin-top: 1.4em;
        margin-left: 0.4em;
        width: 1.2em;
        font-size: 1.4vw;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf,
    .section .article .container .information .subTitleContainer .durationContainer,
    .section .article .container .information .subTitleContainer .boxOfficeContainer {
        height: 100%;
        width: 80%;
        margin-bottom: 20px;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .subTitle,
    .section .article .container .information .subTitleContainer .durationContainer .subTitle,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle {
        font-size: 100%;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .subTitle .imgSubtitle,
    .section .article .container .information .subTitleContainer .durationContainer .subTitle .imgSubtitle,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle .imgSubtitle {
        height: 80%;
        width: 10%;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .date,
    .section .article .container .information .subTitleContainer .durationContainer .duration,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .boxOffice {
        font-size: 100%;
    }

    .notBoxOfficeContainer {
        background-color: black;
        padding: 10% 40%;
    }

    .section .article .container .information .sinopseContainer {
        position: relative;
        margin: -5px 210px 15px -90px;
        width: 740px;
        padding: 2px;
    }

    .section .article .container .information .sinopseContainer .subTitleSinopse {
        font-size: 1rem;
    }

    .section .article .container .information .sinopseContainer .sinopse {
        font-size: 0.9rem;
    }

    .section .article .container .information .watch {
        position: relative;
        margin: 0px 210px 15px -90px;
        gap: 8%;
        width: 50%;
        font-size: 1rem;
    }
    
    .section .article .trailer {
        width: 45rem;
        margin: 0% 0% 5% 5%;
    }
}

@media screen and (min-device-width: 680px) and (max-device-width: 899px) {
    
    .section .article {
        width: 630px;
        height: 80%;
        margin: 2%;
    }

    .section .article .container {
        height: 100%;
    }

    .section .article .container .poster {
        height: 23.5rem;
        width: 17rem;
        margin: 25px 0px 25px 25px;
        border-radius: 20px;
    }

    .section .article .container .information {
        width: 52%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .titleContainer {
        justify-content: center;
        width: 350px;
        height: 4rem;
        font-size: 22px;
        text-align: center;
        margin-top: 5%;  
    }

    .section .article .container .information .titleContainer .title {
        width: 100%;
        margin-left: 14%;
        margin-bottom: 0%;
    }

    .section .article .container .information .titleContainer .favorite {
        width: 17%;
        justify-content: flex-end;
        margin-right: 18px;
    }
    
    .section .article .container .information .titleContainer .favorite .favoriteImg {
        width: 2.3rem;
    }

    .section .article .container .information .generoContainer {
        margin-bottom: 15px;
        gap: 6%;
        width: 310px;
        margin-top: 10px;
        justify-content: center;
    }

    .section .article .container .information .generoContainer .type {
        font-size: 0.8em;
        padding: 5px 22px;
    }

    .section .article .container .information .generoContainer .genero {
        font-size: 0.8em;
    }

    .section .article .container .information .subTitleContainer {
        flex-direction: column;
        gap: 10%;
        margin-bottom: 10px;
        width: 80%;
    }

    .section .article .container .information .subTitleContainer .IMDB {
        width: 5.8%;
        margin-bottom: 3%;
    }

    .section .article .container .information .subTitleContainer .IMDB .imgIMDB {
        width: 4.3%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .subTitleContainer .IMDB .notaIMDB {
        margin-top: 1.5em;
        margin-left: 0.3em;
        width: 1.2em;
        font-size: 1.7vw;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf,
    .section .article .container .information .subTitleContainer .durationContainer,
    .section .article .container .information .subTitleContainer .boxOfficeContainer {
        height: 100%;
        width: 80%;
        margin-bottom: 10px;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .subTitle,
    .section .article .container .information .subTitleContainer .durationContainer .subTitle,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle {
        font-size: 100%;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .date,
    .section .article .container .information .subTitleContainer .durationContainer .duration,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .boxOffice {
        font-size: 100%;
    }

    .notBoxOfficeContainer {
        background-color: black;
        padding: 12% 40%;
    }

    .section .article .container .information .sinopseContainer {
        position: relative;
        margin: 0px 110px 15px -185px;
        width: 580px;
    }

    .section .article .container .information .sinopseContainer .subTitleSinopse {
        font-size: 100%;
    }

    .section .article .container .information .sinopseContainer .sinopse {
        font-size: 0.9rem;
    }

    .section .article .container .information .watch {
        position: relative;
        margin: 0px 210px 15px -50px;
        width: 75%;
        font-size: 1rem;
    }
    
    .section .article .container .information .watch .imgWatch .imgDisney {
        width: 4.6em;
        height: 3em;
    }
    
    .section .article .container .information .watch .imgWatch .imgAmazon {
        width: 2.9em;
        height: 2.9em;
    }
    
    .section .article .container .information .watch .imgWatch .imgNetflix {
        width: 2.9em;
        height: 2.7em;
    }
    
    .section .article .container .information .watch .imgWatch .imgHBO {
        width: 2.7em;
        height: 2.7em;
    }
    
    .section .article .trailer {
        width: 35rem;
        margin: 0% 0% 5% 5%;
    }
}

@media screen and (max-device-width: 679px) {
    
    .section .article {
        width: 85vw;
        height: 30%;
        margin: 2%;
    }

    .section .article .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .poster {
        height: 60%;
        width: 70%;
        margin: 25px 25px 20px 25px;
        border-radius: 20px;
    }

    .section .article .container .information {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .titleContainer {
        justify-content: start;
        width: 87vw;
        height: 15vw;
        font-size: 4.5vw;
        margin-top: 1%; 
    }

    .section .article .container .information .titleContainer .title {
        width: 82%;
        text-align: center;
        font-size: 6vw;
    }

    .section .article .container .information .titleContainer .favorite {
        width: 17%;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5px;
        margin-bottom: 0%;
    }
    
    .section .article .container .information .titleContainer .favorite .favoriteImg {
        width: 2.9rem;
    }

    .section .article .container .information .generoContainer {
        justify-content: center;
        width: 90vw;
        gap: 4%;
        margin-top: 5%;
    }

    .section .article .container .information .generoContainer .type {
        font-size: 3.3vw;
        padding: 5px 28px;
    }

    .section .article .container .information .generoContainer .genero {
        font-size: 3.3vw;
    }

    .section .article .container .information .subTitleContainer {
        justify-content: center;
        margin-bottom: 15px;
        width: 100vw;
    }

    .section .article .container .information .subTitleContainer .IMDB {
        margin-top: 3.5%;
        margin-left: 4%;
        margin-right: 2%;
    }

    .section .article .container .information .subTitleContainer .IMDB .imgIMDB {
        width: 10.5%;
        height: 3.8%;
        align-items: center;
        justify-content: center;
    }

    .section .article .container .information .subTitleContainer .IMDB .notaIMDB {
        margin-top: 1.5em;
        margin-left: 0.1em;
        height: 1.2em;
        width: 1.5em;
        font-size: 3.9vw;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf {
        height: 100%;
        width: 75%;
        margin: 15px 5px 2px 5px;
    }

    .section .article .container .information .subTitleContainer .durationContainer {
        width: 40%;
        height: 100%;
        margin-top: 3%;
    }

    .section .article .container .information .subTitleContainer .boxOfficeContainer {
        width: 47%;
        height: 100%;
        margin-top: 3%;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .subTitle,
    .section .article .container .information .subTitleContainer .durationContainer .subTitle,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle {
        width: 80%;
        height: 100%;
        font-size: 3.7vw;
        margin: 5px;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .subTitle .imgSubtitle,
    .section .article .container .information .subTitleContainer .durationContainer .subTitle .imgSubtitle,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .subTitle .imgSubtitle {
        height: 1.2em;
        width: 1.2em;
    }

    .section .article .container .information .subTitleContainer .releaseDateOf .date,
    .section .article .container .information .subTitleContainer .durationContainer .duration,
    .section .article .container .information .subTitleContainer .boxOfficeContainer .boxOffice {
        font-size: 3.3vw;
    }

    .section .article .container .information .sinopseContainer {
        width: 90vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section .article .container .information .sinopseContainer .subTitleSinopse {
        font-size: 3.5vw;
    }

    .section .article .container .information .sinopseContainer .sinopse {
        font-size: 3.4vw;
    }

    .section .article .container .information .watch {
        justify-content: center;
        width: 80%;
        font-size: 4vw;
    }
    
    .section .article .container .information .watch .imgWatch .imgDisney {
        width: 4.3em;
        height: 2.8em;
        border-radius: 10px;
        padding: 1%;
    }
    
    .section .article .container .information .watch .imgWatch .imgAmazon {
        width: 2.5em;
        height: 2.5em;
        border-radius: 10px;
        padding: 0.5%;
    }
    
    .section .article .container .information .watch .imgWatch .imgNetflix {
        width: 3em;
        height: 2.5em;
        border-radius: 10px;
        padding: 1%;
    }
    
    .section .article .container .information .watch .imgWatch .imgHBO {
        width: 2.5em;
        height: 2.5em;
        border-radius: 10px;
        padding: 1%;
    }
    
    .section .article .trailer {
        width: 85vw;
        margin: 0% 0% 5% 0%;
    }
}