.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 6em;
    font-size: 1.3vw;
    bottom: 0;
    gap: 50%;
    background-color: #000000;
}

.footer .createdBy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .createdBy .created {
    background-color: #ffffff;
    padding: 0.2em 0.6em;
    border-radius: 10px;
    color: #000000;
    margin-bottom: 2%;
}

.footer .containerContacts {
    display: flex;
    flex-direction: column;
}

.footer .containerContacts .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 2vh;
    width: 100%;
}

.footer .containerContacts .contacts img {
    display: flex;
    width: 3.5vw;
    border-radius: 2px;
}

@media screen and (min-device-width: 680px) and (max-device-width: 899px) {

    .footer {
        font-size: 2vw;
        height: 5.7em;
        gap: 20%;
    }

    .footer .createdBy .created {
        margin: 5% 0%;
    }

    .footer .containerContacts {
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .footer .containerContacts .contacts {
        gap: 25%;
        margin: 8%;
    }

    .footer .containerContacts .contacts img {
        width: 5vw;
    }
}

@media screen and (max-device-width: 679px) {

    .footer {
        font-size: 4vw;
        height: 5.8em;
        gap: 20%;
    }

    .footer .containerContacts {
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .footer .containerContacts .contacts {
        gap: 20%;
    }

    .footer .containerContacts .contacts img {
        width: 8vw;
    }
}