.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10em;
    font-size: 1.3vw;
    bottom: 0;
    background-color: black;
}

.main .createdBy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .createdBy .created {
    background-color: white;
    padding: 0.2em 0.6em;
    border-radius: 10px;
    color: black;
    margin-bottom: 2%;
}

.main .containerContacts {
    display: flex;
    flex-direction: column;
}

.main .containerContacts .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin: 2%;
    width: 100%;
}

.main .containerContacts .contacts img {
    display: flex;
    width: 2vw;
    border-radius: 2px;
}


@media screen and (min-device-width: 680px) and (max-device-width: 899px) {

    .main {
        flex-direction: row;
        font-size: 2vw;
        height: 5.7em;
        gap: 20%;
    }

    .main .createdBy .created {
        margin: 5% 0%;
    }

    .main .containerContacts {
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .main .containerContacts .contacts {
        gap: 25%;
        margin: 8%;
    }

    .main .containerContacts .contacts img {
        width: 4vw;
    }

}

@media screen and (max-device-width: 679px) {

    .main {
        flex-direction: row;
        font-size: 4vw;
        height: 5.8em;
        gap: 20%;
        margin: 6% 0%;
    }

    .main .containerContacts {
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .main .containerContacts .contacts {
        gap: 18%;
    }

    .main .containerContacts .contacts img {
        width: 6vw;
    }
}